header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  position: relative;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  height: 70px;
  width: 100%;
  position: absolute;
  left: 20px;
  top: 0;
}
